:root {
  --content-width: 60rem;
  --inset-width: 46rem;

  --bg: #f8f4f1;
  --bg-accent: #c28d74;
  --bg-accent-2: #c28d7433;

  --fg: rgba(0, 0, 0, 0.8);
  --fg-accent: #6d3116;
  --fg-secondary: rgba(0, 0, 0, 0.5);
  --font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  --font-weight: 200;
  --font-size: 16pt;
  --line-height: 140%;
  --letter-spacing: 0.05em;

  --cta-bg: #a34a21;
  --cta-bg-darker: #823b19;
  --cta-bg-darkest: #512510;
  --cta-fg-color: white;

  --hero-font-size: 36pt;

  --heading2-font-size: 28pt;
  --heading3-font-size: 22pt;
  --heading-font-weight: 100;
  --heading-font-family: Baskerville, "Baskerville Old Face", Garamond,
    "Times New Roman", serif;
  --heading-line-height: 1.4;
}

@media screen and (max-width: 774px) {
  :root {
    --hero-font-size: 24pt;
    --heading2-font-size: 24pt;
    --heading3-font-size: 18pt;
    --font-size: 12pt;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  padding: 0;
  margin: 0;
}

body,
a {
  color: var(--fg);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h2 {
  line-height: var(--heading-line-height);
}

header h1 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header {
  padding: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fg-accent);
}

a {
  color: inherit;
}

header,
footer,
section {
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-size: var(--heading2-font-size);
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  margin: 0;
}

h3 {
  font-size: var(--heading3-font-size);
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  margin: 0;
}

.hero h2 {
  font-size: var(--hero-font-size);
}

.accent {
  background: var(--bg-accent);
}
.accent-2 {
  background: var(--bg-accent-2);
}

nav {
  margin: 0 auto;
  max-width: var(--inset-width);
}

nav ul {
  display: flex;
  gap: 3rem;
  overflow-x: scroll;
}

.spacer {
  flex-grow: 1;
}

/* Layout */

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header,
footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content {
  max-width: var(--content-width);
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.inset {
  max-width: var(--inset-width);
}

.content.standard,
.content.reverse {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.threepack {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: stretch;
}

.pack {
  flex: 1 1;
  display: flex;
  flex-flow: column;
  background: var(--bg-accent-2);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  gap: 1rem;
  text-align: left;
}

.content.reverse {
  flex-flow: row-reverse;
}

.content.contact {
  display: flex;
  column-gap: 2rem;
}

.content.hero {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content.solo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.content.standard .label,
.content.reverse .label,
.content.hero .label,
.content.contact .label {
  flex: 0 1 20rem;
  align-self: start;
}

.content .details {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

p {
  margin: 0;
}

.content.hero .label {
  text-align: center;
}

.content.standard .label {
  text-align: right;
}

.content.reverse .label,
.content.contact .label {
  text-align: left;
}

.content.contact .label {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 774px) {
  section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }

  .content {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
  }

  .content.reverse,
  .content.contact,
  .content.standard {
    flex-direction: column;
  }

  .content.solo {
    gap: 1rem;
  }

  .threepack {
    flex-direction: column;
  }

  .content.standard .label,
  .content.reverse .label,
  .content.hero .label,
  .content.contact .label {
    flex: 1 1;
    align-self: start;
    text-align: left;
    width: 100%;
  }

  .content.hero .label {
    flex: 0 1 10rem;
  }

  .content.standard .label {
    text-align: left;
  }

  .content .details {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .content.contact .label {
    gap: 1rem;
  }

  nav ul {
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .content.hero {
    flex-direction: column;
    gap: 2rem;
  }

  nav ul {
    gap: 0.5rem;
  }
}

/* Other stuff */
.headshot {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.contact-info {
  text-align: left;
  margin-bottom: 2em;
}

.contact-info .lin {
  font-size: 30px;
}

.contact-info li {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

footer .content {
  text-align: center;
  color: var(--fg-secondary);
  font-size: 80%;
}

.cta,
button {
  border-radius: 1rem;
  background-color: var(--cta-bg);
  color: var(--cta-fg-color);
  padding: 0.75em 1.5em;
  text-decoration: none;
  border: none;
  font: inherit;
  transition: background-color 0.1s ease-out;
  cursor: pointer;
  display: inline-block;
}

.cta:hover,
button:hover {
  background-color: var(--cta-bg-darker);
}

.cta:active,
button:active {
  background-color: var(--cta-bg-darkest);
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input,
textarea,
button {
  font-size: inherit;
}

input,
textarea {
  font: inherit;
  box-sizing: border-box;
  width: 100%;
  border: none;
  margin-bottom: 1em;
  padding: 4px;
}

.bad-lni {
  position: relative;
  top: 2px;
}

form {
  width: 100%;
}
